<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Spring Blog</title>
    <link rel="stylesheet" href="assets/blog.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/8.7/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/highlight.js/8.7/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>
<body>
<div id="layout" class="pure-g" th:fragment="header">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <div>
                <h1 class="brand-title">Spring blog</h1>
                <h3 class="brand-tagline">Creating a blog using Spring Boot 2.2</h3>
            </div>

        </div>
    </div>
    <div layout:fragment="content">

    </div>
</div>
</body>
</html>